@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Poppins', sans-serif;*/
h1{font-size: 45px!important; color: #111723; font-weight: 700!important; font-family: 'Poppins', sans-serif!important;}
h2 {color: #1B212F!important;font-size: 46px!important;font-weight: 700!important;font-family: 'Poppins', sans-serif!important;margin-bottom: 10px!important;}
p{font-size: 16px; font-weight: 400;font-family: 'Poppins', sans-serif; color: #1B212F; }
body{background: #fff!important; }
.btn{background: #FF0000; color: #fff;border-radius: 14px;font-weight: 400;font-family: 'Poppins', sans-serif !important;font-size: 16px;padding: 14px 36px;text-decoration: none;}
.homePage .heroBanner .heroContent .space .btn:focus{background: #FF0000!important; color: #fff!important;border-radius: 14px;font-weight: 400;font-family: 'Poppins', sans-serif !important;font-size: 16px;padding: 14px 36px;text-decoration: none;}
.container{max-width: 1320px; margin: 0 auto;}
.woocommerce-checkout #main .woocommerce{max-width: 1320px !important;}
header{background: #1B212F;}
.wp-custom-logo .site-header {align-items: center; width: 100%; max-width: none;}
.primary-navigation .primary-menu-container{margin-right: 0px !important;margin-left: 0px !important;}
.wp-custom-logo .site-header{padding: 0; padding-right: 70px !important;padding-left: 70px!important;}
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button){background: transparent!important;}
.site-logo .custom-logo{max-width: 150px!important; }
.current_page_item > a{text-decoration: none!important;background: #EF040D;}
.primary-navigation .primary-menu-container > ul > .menu-item > a{color: #fff;font-size: 14px;font-family: 'Poppins', sans-serif; font-weight: 400;text-transform: uppercase;padding: 10px 24px !important;border-radius: 8px;}
.primary-navigation a:hover{text-decoration: none!important; background: #EF040D; }
.primary-navigation .primary-menu-container > ul > .menu-item{padding-right: 40px;}
.admin-bar .primary-navigation{left: 50%;transform: translateX(-50%); margin: 0;}
.primary-navigation .primary-menu-container > ul > li#menu-item-26 > a{color: #000}
.primary-navigation .primary-menu-container > ul > li#menu-item-26 a{background:#fff!important;}
.site-footer{max-width: 100%!important; margin-top: 0px!important;}
.entry-footer.default-max-width{display: none;}
.home .woocommerce ul.products.columns-3 li.product {width: calc(100% - 16px) !important;}
:focus{outline: none!important;}
footer{background:#1B212F; padding: 0px!important;}
footer .site-info {justify-content: space-between;display: flex;align-items: center;padding-top: 10px;padding-bottom: 15px;}
footer .container{margin-top: 0px; margin-bottom: 0px; }
footer .site-info .powered-by ul{padding: 0px!important; list-style: none; margin-right: 90px;}
footer .site-info .powered-by ul li{display: inline-block; padding: 0px 12px;}
footer .site-info .powered-by ul li a{font-size: 14px; color: #fff;font-family: 'Poppins', sans-serif; font-weight: 400; }
footer .site-info .socialIcons ul{padding: 0px!important; list-style: none;}
footer .site-info .socialIcons ul li{display: inline-block; padding: 0px 12px;}
footer .site-info .socialIcons ul li a img{max-width: 20px;}
footer .site-info .site-name .footer span{font-size: 14px; color: #fff;font-family: 'Poppins', sans-serif; font-weight: 400;}
footer .site-info .site-name .footer span strong{font-weight: 400; color: #FF0000;}

.homePage .heroBanner{width: 100%; float: left; display: flex;align-items: center;padding-top: 80px;padding-bottom: 100px;}
.homePage .heroBanner .videoSection,.homePage .heroBanner .heroContent{width: 50%; float: left;}
.homePage .heroBanner .heroContent{padding-left: 60px;}
.homePage .heroBanner .videoSection{border: 2px solid red;border-radius: 25px;overflow: hidden;box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.82);}
/*.homePage .heroBanner .videoSection img{max-width: 740px;}*/
.homePage .heroBanner .heroContent .heroIcons ul{padding: 0px!important; list-style: none; }
.homePage .heroBanner .heroContent .heroIcons ul li{display: inline-block; padding: 0px 16px;}
.homePage .heroBanner .heroContent .heroIcons ul li a img{max-width: 30px;}
.homePage .heroBanner .heroContent .space{display: block;margin: 20px 0px;}
.homePage .heroBanner .heroContent span{color: #ff0000;}
.woocommerce{max-width: 100% !important;}
.product {width: 100%;float: left; position: relative;}
ul.slick-dots{position: absolute;top: -160px;right: 0;display: flex;max-width: 120px;}
.product .productTitle{display: flex; align-items: center; justify-content: space-between; width: 100%;float: left; padding-bottom: 60px;}
.product .productTitle .sildeSlider ul{padding: 0px;display: flex;align-items: center;}
.product .productTitle .sildeSlider ul li{display: inline-block;padding: 0px 10px; }
.product .productTitle .sildeSlider ul li a{height: 20px; width: 20px; background: #717171; border-radius: 50px; font-size:0px; display: block; opacity: 0.5;}
.product .productTitle .sildeSlider ul li a.active{background: #ff0000; opacity: 1;}
.woocommerce ul.products.columns-4 li.product{background: #FBF9F5; text-align: center; border-radius: 20px;box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.1);}
.woocommerce ul.products.columns-4 li.product{width: calc(100% - 20px) !important;}
ul.products li.product .woocommerce-loop-product__title{text-align: left;font-size: 21px !important;padding-right: 90px;padding-left: 60px;line-height: 1.2em;position: relative;z-index: 999;background: #FFF1F1;margin-bottom: 0px !important;padding-top: 25px;margin-top: 0px;}
ul.products li.product .woocommerce-loop-product__title::after {content: '';height: 11px;width: 76px;position: absolute;background: #FF5252;left: 59px;bottom: 24px;z-index: -99999999;}
ul.products li.product .price{text-align: left;padding-right: 60px;padding-left: 60px;font-size: 22px;font-weight: 700;font-family: poppins;color: #F00;background-color: #FFF1F1;padding-bottom: 20px;padding-top: 25px;border-bottom-right-radius: 45px;margin-bottom: 0;border-bottom-left-radius: 45px;}
.add_to_cart_button {position: absolute;right: 20px;bottom: 26px;background: red !important;border-radius: 8px !important;font-size: 0 !important;border: none !important;padding: 10px 12px !important;;}
.button:hover{border: none!important;}
.add_to_cart_button::after{content: '';background-image: url('../images/cart.svg');height: 20px;width: 20px;display: inline-block;background-repeat: no-repeat;background-size: contain;}
.product .brands{width: 100%; float: left;}
.product .brands .singleBrand{width: 25%; float: left; text-align: center; padding: 30px;}
.product .brands .singleBrand img{max-width: 220px;text-align: center;min-height: 130px;}
.product .brands .singleBrand .btn{font-size: 24px;width: 100%;display: inline-block;padding: 8px 10px;font-weight: 800;line-height: normal;}
.product .brands .singleBrand .btn:focus{background: #FF0000 !important;color: #fff;text-decoration: none;}
.product .brands .singleBrand span img {max-width: 25px;padding-right: 8px;min-height: auto;}
.product .brands .singleBrand span{text-align: center;margin: 0 auto;font-size: 15px;font-family: 'poppins';font-weight: 400;}
.product.spacing{width: 100%;float: none;}
.fullBorder{width: 100%; float: left; margin: 0px!important; padding-top: 100px; padding-bottom: 100px; border-bottom: 1px solid #7E7E7E; border-top: 1px solid #7E7E7E; margin-top: 60px!important;}


/*============================================features page============================================*/
.features .secOff,.features .mainVideo{width: 100%; float: left;}
.features .secOff{border-radius: 10px; border: 1px solid #70707063; padding: 70px 80px; display: flex; align-items: center;}
.features .secOff .leftSide{float: left; padding-right: 80px;}
.features .secOff .leftSide h2{font-weight: 600 !important;}
.features .secOff .rightSide{float: right;border: 1px solid #FF0606;border-radius: 12px;box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.27);padding: 40px 20px;}
.features .secOff .rightSide h4 {font-size: 120px; color: #FF0606;font-weight: 900;font-family: 'poppins';}
.variations_form{width: 100% ; float: left;}

.videoList{width: 100%; float: left;padding-top: 80px; padding-bottom: 30px;}
.videoList h2{font-weight: 600 !important;padding-bottom: 20px; padding-left: 30px;}
.videoList .videoSection{width: 100%; float: left;}
.videoList .videoSection .equalVideo {width: 33.33%;text-align: center;float: left;}
.videoList .videoSection .equalVideo img {max-width: 410px;}

.woocommerce-checkout #main .woocommerce{padding: 0px;}
/*JUST FOR NOW*/.entry-header.alignwide{display: none;}/*JUST FOR NOW*/
#customer_details.row{margin-left:0;margin-right:0;}
#customer_details .leftSide{float:left;width: 55%;padding: 40px; box-shadow: 0px 0px 30px rgba(0,0,0,0.10); border: 1px solid #707070; border-radius:10px ;}
#customer_details .rightSide{float:right;width: 40%; padding: 40px; box-shadow: 0px 0px 30px rgba(0,0,0,0.10); border: 1px solid #707070; border-radius:10px ;}
#customer_details .rightSide #order_review{width: 100%; padding: 0px!important;}
.shop_table.woocommerce-checkout-review-order-table{margin-top: 0px!important;}
.woocommerce-checkout .woocommerce-billing-fields h3{font-family: 'poppins';font-weight: 700;text-transform: capitalize; margin-bottom: 10px; margin-top: 0px;color: #000;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="file"], textarea {border-radius: 10px!important;border: 1px solid #707070!important;font-family: 'poppins'!important;font-weight: 300!important;}
input[type="text"]:focus{color: #000!important;outline-offset: unset!important;outline: none!important;border: 1px solid #000 !important;}
.woocommerce-checkout .select2-container--focus .select2-selection{border-radius: 10px!important;border: 1px solid #707070!important; font-family: 'poppins'!important; font-weight: 300!important;}
.woocommerce-checkout form #order_review_heading{width: 100%; float: left;	font-family: 'poppins'; font-weight: 700;text-transform: capitalize; padding: 0!important; margin-top: 0px;margin-bottom: 40px; color: #000;}
.woocommerce-checkout .select2-container .select2-selection{border-radius: 5px !important;border: 1px solid #707070 !important;font-family: 'poppins' !important;font-weight: 300 !important;}
.woocommerce-checkout .select2-container--focus .select2-selection{outline-offset: 0px!important; outline: none!important;}
.woocommerce-checkout form.woocommerce-checkout .input-text{height: 45px;border-radius: 3px !important;font-size: 14px;}
.woocommerce form .form-row label, .woocommerce-page form .form-row label{font-size: 13px;font-weight: 500;margin-top: 20px;margin-bottom: 2px;}
.woocommerce-additional-fields {margin-top: 20px;}
.woocommerce-additional-fields h3{font-family: 'poppins';font-weight: 700;text-transform: capitalize;}
#billing_address_1_field{margin-bottom: 30px;}
table {float: left!important;width: 100%!important;margin-top: 20px!important;font-family: 'poppins'!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table thead {background: #222!important;border: none!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table thead tr{border-bottom: 1px solid #eee!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table thead th{font-size: 16px!important;font-weight: bold!important;padding: 15px !important;color: #fff !important;border: none!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table tbody {border: 1px solid #eee!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table tbody tr:nth-child(2n+1) {background-color: #f7f7f7!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table tbody tr td {border: none!important;border-bottom-color: currentcolor!important;border-bottom-style: none!important;border-bottom-width: medium!important;border-bottom-color: currentcolor!important;border-bottom-style: none!important;border-bottom-width: medium!important; border-bottom-color: currentcolor!important;border-bottom-style: none!important;border-bottom-width: medium!important;border-bottom: 1px solid #eee!important;padding: 10px 19px!important;text-align: left!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table tfoot {background: #ffffff!important;border: none!important;}
#order_review .shop_table.woocommerce-checkout-review-order-table tfoot tr {border: none!important;background: #000;}
#order_review .shop_table.woocommerce-checkout-review-order-table tfoot tr th{color: #fff;}
#order_review .shop_table.woocommerce-checkout-review-order-table tfoot tr td{color: #fff;}
.woocommerce-notice.woocommerce-notice--info.woocommerce-info {font-size: 16px;font-weight: 400;font-family: 'Poppins' !important;color: #1B212F;border: none;}
.woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text p {font-size: 16px;font-weight: 400;font-family: 'Poppins' !important;color: #1B212F;border: none;}
.woocommerce-notice.woocommerce-notice--info.woocommerce-info {font-size: 16px;font-weight: 400;font-family: 'Poppins' !important;color: #1B212F;border: none;width: 100%;float: left;margin-top: 30px;}
.woocommerce-checkout-review-order #place_order{width: 100%; border: 2px solid #FF0000!important;background: #FF0000; color: #fff; border-radius: 14px; font-weight: 600; font-family: 'Poppins', sans-serif !important;font-size: 16px;text-transform: uppercase;}
.woocommerce-checkout-review-order #place_order:hover{width: 100%;border: 2px solid #FF0000!important; color: #FF0000;background: transparent!important;}
.woocommerce-terms-and-conditions-wrapper {margin-bottom: 40px!important;padding: 0px 8px!important;}
.woocommerce-checkout-review-order #place_order:focus{outline: none!important;}
.woocommerce-info{background: #000!important;color: #fff!important;border-top: none!important;border-radius: 5px!important;}
.woocommerce-info a{color: #fff!important;}
.onlyForTest{text-align: center;text-transform: capitalize;color: #fff;background: #ededed;width: 100%;float: left;overflow: hidden;font-variant-numeric: stacked-fractions;columns: initial;border-image-repeat: repeat;font-size: 20px;text-align: center;font-weight: 800;font-family: 'poppins';}
.slick-dots li.slick-active button {background: red !important;border: none;}
.slick-dots li button{font-size: 0px !important;padding: 0px !important;border: none !important;width: 20px !important;height: 20px !important;background: #717171!important;border-radius: 350px;}
.slick-dots li button:hover{background: grey;}
.slick-dots li button:focus{outline: none!important;}
.slick-dots li{width: 30px !important;font-size: 0;list-style: none;margin-right: 13px !important;}
.slick-next.slick-arrow,.slick-prev.slick-arrow {display: none!important;}
ul.products li.product .added_to_cart{position: absolute;top: 305px;left: -8px;height: 33%;width: 100%;background: rgba(255, 0, 0, 0.78);text-decoration: none !important; box-shadow: none !important;display: flex;align-items: center;justify-content: center;z-index: 9999;font-size: 20px;font-family: 'poppins';color: #fff;font-weight: 800;text-transform: uppercase;letter-spacing: 2px;border-bottom-right-radius: 40px;border-bottom-left-radius: 40px;}
/*Single product page*/
.upperWrap{width: 100%; float: left; background-color: #fbf9f5; padding: 30px;}
.upperWrap .woocommerce-product-gallery{margin: 0px;}
.upperWrap .summary.entry-summary{width: 40%!important; background: #fff; padding: 50px 60px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);border-radius: 15px;}
.upperWrap .summary.entry-summary h1.product_title{font-size: 45px!important; font-weight: 600!important; color: #1E1E1E!important; margin-bottom: 10px!important;}
.upperWrap .summary.entry-summary .price span{font-family: 'poppins'!important; font-weight: 600!important; font-size: 28px!important;}
.upperWrap .summary.entry-summary .price{border-bottom: 1px solid #000; padding-bottom: 30px;}
.upperWrap .variations_form table.variations{margin: 0px!important;}
.upperWrap .variations_form table.variations tr th{display: none;}
.upperWrap .variations_form table.variations tr td{border: none; border: none;padding: 0px !important;padding-bottom: 10px !important; margin: 0px!important;}
.upperWrap .variations_form table.variations tr td select{width: 100%!important;margin: 0px!important;border: 1px solid #000 !important;font-size: 15px !important;font-weight: normal;border-radius: 8px!important;}
.upperWrap .variations_form table.variations tr td select:focus{outline: none!important;}
.single-product form.cart input[type="number"] {width: 7em!important;height: 50px;border: 1px solid #000;border-radius: 8px;}
.upperWrap .single_add_to_cart_button{width: 60% !important;border: none !important;background-color: red !important;color: #fff !important;font-size: 18px !important;font-family: 'poppins' !important;font-weight: 600 !important;height: 50px!important;border-radius: 8px !important;}
.related.products ul.products li{max-width: calc(25% - 16px) !important; display: inline-block;}
.single-product div.product .product_meta{width: 100%; float: left;margin-top: 30px;}
.single-product div.product .product_meta span.sku_wrapper{width: 100%; float: left;font-size: 18px;color: #000;font-family: 'poppins';font-weight: 500;text-transform: uppercase;}
.single-product div.product .product_meta span.posted_in{width: 100%; float: left;font-size: 18px;color: #000;font-family: 'poppins';font-weight: 500;text-transform: uppercase;}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {width: 10%;margin: 8px;border: 1px solid #ededed;}
.woocommerce-product-gallery--columns-4 ol{padding: 0px!important;}
.woocommerce-tabs{margin-top: 50px !important;width: 100%;float: left;}
.woocommerce-tabs .tabs.wc-tabs{border-bottom: 0px!important;}
.woocommerce-tabs .tabs.wc-tabs li a{color: #000!important; background: #efefef!important; font-size: 20px!important; border: none;}
.woocommerce-tabs .tabs.wc-tabs li.active a{color: #fff!important; background: red!important; font-size: 20px!important;border: none;}
.woocommerce-tabs .tabs.wc-tabs li.active a:focus{text-decoration: none!important;}
#tab-additional_information{background: #efefef73; padding: 30px; margin: 0px;}
#tab-additional_information h2{font-size: 30px!important;}
#tab-additional_information table{border: none; max-width: 350px!important; background: #000; border: 1px solid;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);}
#tab-additional_information table tbody tr{border: none!important;}
#tab-additional_information table tbody tr th{border: none !important;font-size: 17px !important;font-family: 'poppins';font-weight: 500;background: #fbf9f5;}
#tab-additional_information table tbody tr td{border: none !important;font-size: 17px !important;font-family: 'poppins';font-weight: 500;background: #fbf9f5;}
#tab-additional_information table tbody tr td p a{color: #000;text-decoration: none;text-transform: uppercase;font-size: 14px;font-family: 'poppins';font-weight: 600;}
#tab-additional_information table tbody tr td p {color: #000;text-decoration: none;text-transform: uppercase;font-size: 14px;font-family: 'poppins';font-weight: 600;}
.woocommerce-tabs #tab-reviews #submit{float: right;border: none;background: red;font-size: 20px !important;font-family: 'poppins';color: #fff;letter-spacing: 0;border-radius: 8px;padding: 14px 45px; font-weight: 600;}
.tickets{position: absolute; text-transform: uppercase; color: #000; font-family: 'poppins'; letter-spacing: normal; font-size: 15px; left: 20%;bottom: 58px;}
.woocommerce ul.products.columns-3 li.product-type-variable .price{border-radius: 0px!important;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations{width: 100%;float: left;background: #fff1f1; position: relative;border-bottom-right-radius: 45px;border-bottom-left-radius: 45px;padding-bottom: 30px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.woo-variation-items-wrapper{margin-top: 0px; margin-bottom: 0px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.reset_variations{position: absolute;top: 8px;right: 30px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.reset_variations a{background: transparent;width: 22px;height: 22px;position: relative;font-size: 0px;display: block;padding: 5px;border: 1px solid #000;border-radius: 50px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.reset_variations a:after {content: '';height: 12px;border-left: 1px solid #f00;position: absolute;transform: rotate(45deg);left: 9px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.reset_variations a:before {content: '';height: 12px;border-left: 1px solid #f00;position: absolute;transform: rotate(-45deg);left: 9px;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.woo-variation-items-wrapper ul li{box-shadow: none; border: 1px solid #eee;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.woo-variation-items-wrapper ul li.selected{box-shadow: none; border: 1px solid #000!important;}
.woocommerce ul.products.columns-3 li.product-type-variable .variations li.woo-variation-items-wrapper ul li:hover{box-shadow: none!important; border: 1px solid #000;}
.woocommerce ul.products.columns-3 li.product-type-variable .add_to_cart_button{bottom: 86px;}
ul.products li.product-type-variable .added_to_cart{top: 305px;height: 42%;}
.woocommerce .onsale {font-size: 12px;top: 10px;right: 0; background: #f00;font-weight: 500;font-family: 'poppins';}
.woocommerce ul.products.columns-3 li.product {width: calc(24.333% - 16px) !important; }
.woocommerce ul.products.columns-3{justify-content: center;}
/*======================GIVE_AWAY===============================*/

.giveAway{width: 100%; float: left;}
.giveAway .giveAway-product{width: 100%; float: left; padding-bottom: 20px;}
.giveAway .giveAway-product .Sap{width: 60%; float: left; position: relative;}
.giveAway .giveAway-product .giveAway-chatbox{width: 40%; float: left; /*text-align: center;*/}
.cart_tittle{position: absolute; bottom: 20px; width: 100%;}
.cart_tittle h2 {float: left; padding-right: 401px;padding-left: 40px;line-height: 1em;color: #fff !important; position: relative;z-index: 99;}
.lottryNumber{position: absolute;top: 50px;right: 0;color: #fff;text-align: right;background: #0000003b;border-top-left-radius: 15px;border-bottom-left-radius: 15px;line-height: normal;padding: 12px 20px;font-family: 'poppins';font-weight: 500;}
.cart_tittle h2::after{content: '';height: 25px;width: 176px;position: absolute;background: #FF0000A8;left: 44px;bottom: 55px;z-index: -99999999;}
.cart_tittle h2::before{content: '';height: 25px;width: 116px;position: absolute;background: #FF0000A8;left: 64px;bottom: 3px;z-index: -99999999;}
.giveAway .giveAway-product .giveAway-chatbox img{max-height: 550px!important;}
.cart_tittle .giveAwaybutton{position: absolute;z-index: 9999;}


/*========================*/
.commentForm {
  width: 100%;
  float: left;
}
.commentForm .userComments{
  width: 100%;
  float: left;
  max-width: 460px;
background: #eee;
margin: 0 auto;
padding: 30px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 3px;
margin: 0px 35px;
}
.commentForm .userComments .foruserScrool {
  overflow: scroll;
    overflow-x: scroll;
  max-height: 390px !important;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.commentForm .userComments ul{
 padding: 0;
 list-style: none;
}
.commentForm .userComments ul li {
  padding-bottom: 20px;
}
.commentForm .userComments ul li .user img{
width: 28px;
height: 28px;
margin-right: 10px;
margin-bottom: 5px;
}
.commentForm .userComments ul li .user{
font-family: Poppins;
font-weight: 500;
font-size: 14px;
color: #000;
}
.commentForm .userComments ul li .user span{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #000;
}
.commentForm .userComments ul li .user .likes span{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #767676;
}
.commentForm .userComments ul li .user .replyComment{background: #eee;
padding: 0px 14px;
border-left: 2px solid #ef040d;
margin: 10px 0px;}
.commentForm .userComments ul li .user .replyComment .reply span{
	color: #0000005e;
	display: block;
}
.commentForm .userComments ul li .user .replyComment .reply {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: inherit;
  color: #969696;
}
.formFeild{position: relative;}
.formFeild form textarea{background: #fff;
border: 2px solid #cfcfcf !important;
height: 50px;
font-size: 15px !important;;
font-family: 'poppins' !important;
font-weight: 600!important;
color: #929292 !important;
resize: none;
}

.formFeild form input.userComments{position: absolute;font-size: 15px !important;;
position: absolute;
font-size: 15px !important;
font-family: 'poppins' !important;
font-weight: 600 !important;
color: #929292 !important;
box-shadow: none;
padding: 0px;
width: auto;
background-color: transparent !important;
border: none;
right: 15px;
transform: translateY(-50%);
top: 50%;
margin: 0;
}
.formFeild form input.userComments:hover{
border: none;
}